:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-dark: #333;
    --color-gray-shadow: rgba(0, 0, 0, 0.2);
    --color-primary: #359381;
    --color-text-light: #fff;
    --color-text-dark: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: var(--color-white);
    max-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: var(--color-primary);
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: var(--color-primary);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.aktiv {
    background: var(--color-primary);
    color: var(--color-text-light);
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#text {
    position: absolute;
    font-size: 5em;
    color: var(--color-gray-dark);
    text-shadow: 2px 2px 4px var(--color-gray-shadow);
    will-change: margin-top;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    will-change: top, left;
}

.main {
    position: relative;
    background: var(--color-primary);
    padding: 100px;
}

.main h2 {
    font-size: 3em;
    color: var(--color-text-light);
    margin-bottom: 10px;
}

.main p {
    font-size: 1em;
    color: var(--color-text-light);
    font-weight: 300;
}

/* Responsiv design */
@media (max-width: 768px) {

    .header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .parallax {
        height: 60vh;
    }

    #text {
        font-size: 2.5em;
    }

    .main {
        padding: 50px 20px;
    }

    .main h2 {
        font-size: 2em;
    }

    .main p {
        font-size: 0.9em;
    }
}
