body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

:root {
    --primary-color: #734B5E;
    --secondary-color: #F5D3C8;
    --third-color: #8A8D91;
    --text-color: #2C3E50;
    --background-color: #F4F7F9;
}

.grid-container {
    grid-template-areas: 
        "header header header header header"
        "navbar navbar navbar navbar navbar"
        "banner banner banner banner banner"
        "main main main sidebar sidebar"
        "footer footer footer footer footer";
    grid-template-columns: 30px 1fr 1fr 1fr 30px;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    display: grid;
    height: 100vh;
}

.navbar {    
    grid-area: navbar;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
}

.ul-list {
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
    text-align: center;
    list-style-type: none;
}

.ul-list li {
    text-align: left;
}

.ul-list a {
    text-decoration: none;
    color: var(--background-color);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    position: relative;
}

.ul-list a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--background-color);
    transition: 0.3s;
}

.ul-list a:hover::before {
    width: 100%;
}

.header {
    grid-area: header;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
}


.banner {
    display: grid;
    grid-area: banner;
}

.banner-bild{
    width: 100%;
    height: auto;
    background-image: url('bild.jpg');
    background-size: cover;
}

.section1, .section2{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.section2 {
    background-color: #8A8D91;
}

.banner-text {
    top: 40%;
    left: 40%;
    position: absolute;
    font-family: poppins;
    font-size: 40px;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 
    5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: scale(1,1.1) 
}


.main {
    grid-area: main;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    position: relative;
}


.main-bilder {
    width: 100%;
    transform: scale(0.99);
    transition: .3s;
    margin-bottom: 1em;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0   ;

 }
 @keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
 }


.main-bilder:hover{
    transform: scale(1.01);
    
}

 .main-list {
    columns: 150px;

 }

.sidebar {
    display: grid;
    grid-area: sidebar;
    margin: 1em;
    padding: 1em;
}    

.sidebar-text {
    text-align: left;
    font-size: 35px;
    font-weight: 500;
}


.footer {
    grid-area: footer;
    background-color: var(--third-color);
    color: var(--background-color);
    padding: 10px;
    text-align: center;
}
