body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

:root {
    --primary-color: #734B5E;
    --secondary-color: #F5D3C8;
    --third-color: #8A8D91;
    --text-color: #2C3E50;
    --background-color: #F4F7F9;
}

.grid-container {
    grid-template-areas: 
        "header header header header header"
        "navbar navbar navbar navbar navbar"
        "main main main main main"
        "footer footer footer footer footer";
    grid-template-columns: 30px 1fr 1fr 1fr 30px;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    display: grid;
    height: 100vh;
}

.navbar {    
    grid-area: navbar;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
}

.ul-list {
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
    text-align: center;
    list-style-type: none;
}

.ul-list li {
    text-align: left;
}

.ul-list a {
    text-decoration: none;
    color: var(--background-color);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    position: relative;
}

.ul-list a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--background-color);
    transition: 0.3s;
}

.ul-list a:hover::before {
    width: 100%;
}

.header {
    grid-area: header;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    position: relative;
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.slider {
    width: 100%;
}

.slider img {
    width: 300px;
    object-fit: cover;
    align-items: center;
}

.arrows {
    position: absolute;    
    top: 50%;
    left: -10px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    pointer-events: none;
}

.arrows button {
    pointer-events: auto;
    background-color: rgba(85, 107, 127, 0.8);
    color: var(--background-color);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrows button:hover {
    background-color: rgba(85, 107, 127, 1);
    transform: scale(1.1);
}

.arrows #prev {
    margin-left: 10px;
}

.arrows #next {
    margin-right: 10px;
}

.slider img:not(img:first-child) {
    display: none;
}


.main-bilder{
    width: 100%;
    transform: scale(0.99);
    transition: .3s;
    margin-bottom: 1em;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0   ;

 }


.main-bilder:hover{
    transform: scale(1.01);
    
}

 .main-list {
    columns: 300px;

 }

 @keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
 }

 .slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent, 
        #000 10% 90%,
        transparent
    );
}


.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) );
}


.slider .list .item .img-slider {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;}
    to {
        left: calc(var(--width)* -1);}
    }



.footer {
    grid-area: footer;
    background-color: var(--third-color);
    color: var(--background-color);
    padding: 10px;
    text-align: center;
}
