*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: #fff;
    max-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.aktiv {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#text {
    position: absolute;
    font-size: 5em;
    color: #333;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .2) ;
    
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.main {
    position: relative;
    background: #359381;
    padding: 100px;
}

.main h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.main p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

/* Responsiv design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .parallax {
        height: 60vh;
    }

    #text {
        font-size: 2.5em;
    }

    .main {
        padding: 50px 20px;
    }

    .main h2 {
        font-size: 2em;
    }

    .main p {
        font-size: 0.9em;
    }
}


